[submodule "modules/reservation-hours"]
	path = modules/reservation-hours
	url = https://github.com/YumpSF/reservation-hours.git
[submodule "modules/modules/reservation-hours"]
	path = modules/modules/reservation-hours
	url = https://github.com/YumpSF/reservation-hours.git
